.BlogBox {
    background-color: #101010;
    padding: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 520px;
}

.RoundCorners {
    border-radius: 15px;
}

.NewBox {
    background-color: #202020;
    width: 60px;
    padding: 10px;
    text-align: center;
    position: relative;
    left: 98%;
    top: -25px;
    -webkit-text-fill-color: gold;
}

.MoveUp70 {
    position: relative;
    top: -70px;
}

.Canvas {
    position: relative;
    width: 100%;
    height: 1000px;
    top: 32px;
    background-color: #101010;
    resize: vertical;
    overflow: auto;
}

.TextLine {
    color: white;
    position: relative;
    padding-left: 32px;
}